<h1>Kitten</h1>

<h2>
	<%= @kitten.name %>
</h2>

<ul>
	<li>Age: <%= @kitten.age %></li>
	<li>Cuteness: <%= @kitten.cuteness %></li>
	<li>Softness: <%= @kitten.softness %></li>
	
</ul>

	<%= link_to "delete", @kitten, method: :delete,
																data: { confirm: "Are you sure?"} %>

